*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background-color: #F1F1F1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  width: 70vh;
  max-height: 70vh;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  padding: 10px;
  overflow: auto;
}

.box h1 {
  text-align: center;
  color: #414141;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.inputTextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.inputText {
  width: 90%;
  height: 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.add-button {
  height: 1.9rem;
  background: #00AEA4;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 10%;
  margin-left: 0.3rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button {
  height: 1.8rem;
    font-size: 0.7rem;
    width: 4rem;
    background: #FE0000;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.edit-button {
  height: 1.8rem;
    font-size: 0.7rem;
    width: 4rem;
    background: #2c0891;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}